<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navfragment" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Sellper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Мои продажи<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Продажи по ТТ<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="financeSaleReportDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Вечерний отчет
                </a>
                <div class="dropdown-menu" aria-labelledby="financeSaleReportDropdown">
                    <a class="dropdown-item" href="#">Реестр отчетов</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Создать отчет</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="nomenclatureDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Товары
                </a>
                <div class="dropdown-menu" aria-labelledby="nomenclatureDropdown">
                    <a class="dropdown-item" href="#">Список товаров</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Создать товар</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">Список пользователей</a>
            </li>
        </ul>
        <div class="navbar-text mr-3"><a href="#">User Name</a></div>
        <form class="form-inline my-2 my-lg-0" action="/logout" method="post">
            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Выход</button>
        </form>
    </div>
</nav>
</html>